<app-reusable-component>
  <strong class="app">Senior Developer</strong>
  <strong class="app1">Experience : 5 years</strong>
</app-reusable-component>
<hr />
<app-reusable-component>
  <strong class="app">Application Developer</strong>
  <strong class="app1">Experience : 2 years</strong>
</app-reusable-component>
<hr />
<app-reusable-component>
  <strong class="app">Sr.Net Application Developer</strong>
  <strong class="app1">Experience : 12 years</strong>
</app-reusable-component>
<br />
<hr />
<h3>Single Slot Content Projection</h3>
<app-singleslotcontentprojection>
  <p class="single-slot">INSERT CONTENT DYNAMICALLY</p>
</app-singleslotcontentprojection>
<br />
<app-singleslotcontentprojection type="success">
  <p>Success!</p>
</app-singleslotcontentprojection>
<br />
<br />
<app-multislotcontentprojection>
  <p heading>Content Projection in Angular</p>
  <p>Projected content!</p>
  <p class="select"><strong>Well done go for outings...</strong></p>
</app-multislotcontentprojection>
